<aside class="navbar bg-body-tertiary vh-100">
    <div class="container-fluid d-flex flex-column h-100 justify-content-start align-items-start p-0">
      <a class="navbar-brand p-4" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="#"></a>
      <ul class="navbar-nav w-100">
        <li class="nav-item fw-bold">
        <a class="nav-link px-4 my-1 text-gray-900 navbar-hover"  href="#"><span class="material-symbols-outlined me-3">
            insert_chart
            </span>Dashboard</a>
        </li>
        <li class="nav-item fw-bold">
        <a class="nav-link px-4 my-1 text-gray-900 navbar-hover" href="#"><span class="material-symbols-outlined me-3">
            forum
            </span>Question</a>
        </li>
        <li class="nav-item fw-bold">
        <a class="nav-link px-4 my-1 text-gray-900 navbar-hover" aria-current="page" href="./index.html"><span class="material-symbols-outlined me-3">
            assignment
            </span>Assignment</a>
        </li>
        <li class="nav-item fw-bold">
        <a class="nav-link px-4 my-1 text-gray-900 navbar-hover" href="#">
            <span class="material-symbols-outlined me-3">
                video_library
                </span>Course</a>
        </li>
        <li class="nav-item fw-bold">
        <p class="py-2 px-4 my-1 navbar-active text-gray-900"><span class="material-symbols-outlined me-3">
            group
            </span>Admin</p>
        </li>
        <li class="nav-item fw-bold">
        <a class="nav-link px-4 my-1 text-gray-900 navbar-hover" href="#">
            <span class="material-symbols-outlined me-3">
                settings
                </span>Settings</a>
        </li>

      </ul>
      <div class="d-flex align-items-center mt-auto p-4">
        <div class="flex-shrink-0">
          <img class="rounded-circle object-fit-cover" src="../assets/images/andychen.jpeg" alt="andychen" style="width: 40px; height: 40px;">
        </div>
        <div class="flex-grow-1 ms-3 fw-bold">
            Andy Chen <br>
            <small class="fw-normal text-gray-600">andy0401@mail.com</small>
        </div>
      </div>

    </div>      
</aside>